body {
  margin: 0;
  overflow: hidden;
  background: black;
}

.universe {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
  z-index: 5;
  font-family: Arial;
}
