body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.galaxy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: white;
  z-index: 10;
  font-family: Arial;
}
